{% extends "base.html" %}


{% block head_title %}Change Password{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center h-100">
            <div class="col-md-4 col-md-offset-4">
                <div class="card mb-4 box-shadow">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}

                    <div class="card-header p-3 mb-2 bg-dark text-white">
                        <h4 class="my-0 font-weight-normal">Change password</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <label class="control-label" for="id_oldpassword">Current password:</label>
                                    <input type="text" name="oldpassword" value="" placeholder="E-Mail:" id="id_oldpassword" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="id-password1"> New Password:</label>
                                    <input type="password" name="password1" value="" placeholder="Password:" id="id_password1"  class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="id-password2"> New Password confirm:</label>
                                    <input type="password" name="password2" value="" placeholder="Password:" id="id_password2"  class="form-control">
                                </div>
                                <button type="submit" name="action" class="btn btn-dark">Change Password</button>
                        </fieldset>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
