<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119417362-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-119417362-1');
</script>

    <title>Tupperware</title>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#333333">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
        <meta name="og:type" content="website">
    {% endblock meta %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>


<!-- START Header top with links -->
<div class="container-fluid" style="border-bottom: 1px solid #e0e0e0; height: 50px;">
    <div class="container">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav mr-auto">
                            <li class="nav-item ml-3" style="border-right: 1px solid #e0e0e0;">
                                <a class="nav-link" href="{% url 'get_wishlist' %}">Wishlist {% if user.wishlist.item.count > 0 %}({{ user.wishlist.item.count }}){% else %} (0) {% endif %}</a>
                            </li>
                            <li class="nav-item ml-3" style="border-right: 1px solid #e0e0e0;">
                                <a class="nav-link" href="{% url 'get_cart' %}">Cart with purchases {% if  user.cart.cartinfo_set.item.count  > 0 %}({{  user.cart.cartinfo_set.item.count  }}){% else %} (0) {% endif %}</a>
                            </li>
                </ul>
                <ul class="navbar-nav">
                            {% if not user.is_authenticated %}
                            <li class="nav-item ml-3" style="border-left: 1px solid #e0e0e0;">
                                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                            </li>
                            <li class="nav-item ml-3" style="border-left: 1px solid #e0e0e0;">
                                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                            </li>
                            {% else %}
                            <li class="nav-item ml-3" style="border-left: 1px solid #e0e0e0;">
                                <a class="nav-link" href="{% url 'account_change_password' %}">Change password</a>
                            </li>
                            <li class="nav-item ml-3" style="border-left: 1px solid #e0e0e0;">
                                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                            {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- END Header top with links -->


<!-- Header with logo and phone -->
<div class="container mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="mt-5 ml-3">
                    <a href="/" ><img src="https://tupperware.com.ua/image/catalog/tupperware.png.pagespeed.ce.J41JH_SjXt.png"
                                                                 class="img-responsive"></a>
                </div>

            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card-body border-0 text-center mt-2">

                    <i class="material-icons" style="font-size: 40px;">call</i><h4>+470 033 2212 21</h4>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- END header with logo and phone -->


<!-- START block with category, search and cart -->
<div class="container">
    <div class="row">
        <div class="col-sm-3 m-0 p-0" style="height: 60px">
            <h4 class="p-3 pl-5 mb-2 bg-dark text-white text-uppercase">Categories</h4>
        </div>
        <div class="col-sm-5 mb-2 bg-dark text-white" style="height: 60px">
                <form class="form-inline my-lg-0 ml-3 pt-3 pl-5" id="searchform" aria-label="Search" action="{% url 'search' %}" method="get" accept-charset="utf-8">
                        <input class="form-control mr-sm-2 h-75 w-75" id="searchbox" name="q" type="text" placeholder="Search">
                      <a href="{% url 'search' %}?q=&category_id="><button class="btn btn-default btn-rounded p-0 h-100 w-100" type="submit"><i class="material-icons m-1 h-30 w-30" style="font-size: 20px;"">search</i></button></a>
                </form>
        </div>

        <div class="col-sm-4 bg-dark text-white" style="height: 60px">
            <div class="row mt-2">
            <div class="col-3"></div>
            <div class="col-2 pr-0" style="padding-left: 38px;">
                <div class="pt-1">
                    <i class="material-icons" style="font-size: 38px;">shopping_cart</i>
                </div>
            </div>
            <div class="col-7">
                <div>
                    <div class="row text-right" style="width: 174px;">
                        <div class="col">Cart with purchases </div>
                        <div class="w-100"></div>
                        <div class="col">Articles: {% if  user.cart.item.count  > 0 %}{{  user.cart.item.count  }}{% else %} 0 {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
</div>

<!-- END block with category, search and cart-->

<!-- Block of alert massages -->
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="container">
    {% block content %}

    {% endblock content %}
</div>


<!-- START container with search, categories and -->
<footer class="footer font-small lighten-3 mt-5" style="border-top: 1px solid #e0e0e0">
        <div class="container">
        <div class="row text-center d-flex justify-content-center pt-5">
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'about_us' %}" class="text-dark">About us</a>
                </h6>
            </div>

            <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'delivery' %}" class="text-dark">PAYMENT/DELIVERY</a>
            </h6>
            </div>

            <div class="col-md-2 mb-3">
            <h6 class="text-uppercase font-weight-bold">
                <a href="{% url 'faq' %}" class="text-dark">FAQ</a>
            </h6>
            </div>
        </div>

    <hr class="rgba-white-light" style="margin: 0 5%;">
    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-1">
          <div class="col-md-8 col-12 mt-3">
            <p style="line-height: 1.7rem">Tupperware is a home products line that includes preparation, storage, and serving products for the kitchen and home.
                        In 1942, Earl Tupper developed his first bell shaped container;
                        the brand products were introduced to the public in 1948. </p>
          </div>
    </div>

            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

            <div class="row text-center mt-3 mb-4">
                <div class="col-3">
                    <strong><p>Adress</p></strong>
                </div>
                <div class="col-3">
                    <strong><p>email</p></strong>
                </div>
                <div class="col-3">
                    <strong><p>phone number</p></strong>
                </div>
                <div class="col-3">
                    <strong><p>phone number</p></strong>
                </div>
            </div>
        </div>
</footer>
<!-- END footer block -->

</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

    {#For footer if page is small#}
    if ($(document).height() <= $(window).height())
  $("footer.footer").addClass("fixed-bottom");

</script>
