{% extends "base.html" %}
{% load i18n %}

{% block content %}
   <div class="container">
        <h1 class="text-left" style="font-size: 48px"> Shipping & Handling</h1>
        <br>
            <div class="row justify-content-md-left">
                <div class="col-md-8">

                    <h5 class="text-justify">We ship orders to the following U.S. destinations: Continental U.S.,
                        Alaska, Hawaii, Puerto Rico, Guam and military addresses (APO and FPO).
                        To assure quick, reliable delivery, we ship all orders to non-P.O. box addresses within the
                        continental U.S. via FedEx Ground. Some orders may be delivered by FedEx to your local post
                        office for final delivery to your door. These orders can still be tracked through FedEx.
                        Orders shipped to P.O. box addresses within the continental U.S., as well as orders outside
                        of the continental U.S., are shipped via USPS Priority Mail. This includes orders shipped to
                        Alaska, Hawaii, Guam, Puerto Rico and military addresses (APO and FPO.)
                        Shipping charges are determined by your order's subtotal amount (less any eGift
                        Certificates purchased).</h5>
                    <body background="http://www.tupperware.com/media/wysiwyg/may18_home3.jpg">
                </div>
            </div>
    </div>
{% endblock %}
